{% extends "base.html.twig" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}

    <div class="h-100 d-flex flex-column justify-content-center align-items-center text-center">
        {# Flash messages #}
        {{ include('users/fragments/_flash.html.twig') }}

        {% if reset != true %}
            <h2>Veuillez saisir votre nouveau mot de passe</h2>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
            {{ form_end(form) }}

        {% else %}
            <a href="http://ec2-3-93-153-94.compute-1.amazonaws.com/connexion">Retour à la page de connexion</a>
        {% endif %}


    </div>

{% endblock %}